#container {
  display: grid;
  grid-template-areas: "title title"
                       "canvas description "
                       "canvas legend";
  grid-template-rows: .1fr 1fr 1fr ;
  grid-template-columns: 1fr .3fr;
}

div {
  /* border: 1px solid blue; */
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    padding: 2px;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    hyphens: auto;
    font-size: 25px;
    color: white;
  }

  #y-axis, #x-axis {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: grey;
    opacity: 75%;
  }

  #title {
    text-align: center;
    font-weight: 700;
    font-size: 75px;
    grid-area: title;
  }

  #viz {
    grid-area: canvas;
  }

  body {
    background: beige;
    font-family: 'Amatic SC', cursive;
  }

  #description {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    grid-area: description;
    margin-top: 50;
  }

  #legend {
    position: fixed;
    bottom: 50;
    right: 50;
    grid-area: legend;
  }

  #legend-label {
    font-size: 25px;
  }